/* RESET.CSS */

/*******************************************/
/* Keep It Simple Reset CSS                */
/* https://github.com/rnyweb/kis-reset-css */
/*******************************************/

/* Keep everything equal. */
* {
  margin: 0;
  padding: 0;
}

/* Keep ordered lists(numerical or alphabetical) without numbers or letters and unordered(bulleted) lists without bullets. Mobile devices in some cases will not display properly the numbers, letters and bullets used by ol and ul tags. */
ol, ul {
  list-style: none;
}

/* Keep the default input elements border color while is selected. */
:focus {
  outline: 0;
}

/* Keep input autofill background color for saved credentials transparent. Tested on Microsoft Edge, Mozilla Firefox and Google Chrome. */
input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
}
