/******************************************/
/* RESET.CSS                              */
/* KEEP IT SIMPLE RESET CSS               */
/* https://github.com/rnyit/kis-reset-css */
/******************************************/

/* Keep everything equal. */
* {
  margin: 0;
  padding: 0;
}

/* Keep the vertical scroll bar despite the fact there is not enough content on the page. */
body {
  overflow-y: scroll;
}

/* Keep ordered lists(ol tag) without numbers or letters and unordered lists(ul tag) without bullets. */
/* Mobile devices in some cases will not display properly the numbers, letters and bullets used by ol and ul tags. */
ol, ul {
  list-style: none;
}

/* Keep the border color for input and other elements while are selected across any browser clients. */
/* Default border color is different on each browser client. */
:focus {
  outline: 0;
}

/* Keep hr tag in the same color on any browser clients. */
/* Default color is different on each browser client. */
hr {
  background-color: #000000; /* Modern browser clients. */
  border: none;
  color: #000000; /* Old Internet Explorer browser. */
  height: 1px;
}

/* Keep input autofill background color for saved credentials transparent across any browser clients. */
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}
